@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
section{
  padding: 100px;
}
.banner{
  position: relative;
  min-height: 100vh;
  background:  url('images/banner.jpg');
  background-size: cover;
  background-position: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner h2{
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}
.banner h2 span{
  font-weight: 500;
  font-size: 1.5em;
}
.banner h3{
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
}
.btn{
  position: relative;
  background-color: #2196f3;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  padding: 10px 30px;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
header.sticky{
  background: #fff;
  padding: 20px 100px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
}
header.sticky .logo{
  color: #111;
}
header .logo{
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
}
header ul{
  position: relative;
  display: flex;
}
header ul li{
  position: relative;
  list-style: none;
}
header ul li a{
  position: relative;
  display: inline-block;
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
}
header.sticky ul li a{
  color: #111;
}
.heading{
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}
.heading h2{
  font-size: 30px;
  font-weight: 600;
}
.content{
  display: flex;
  justify-content: space-between;
}
.content-bx{
  padding-right: 30px;
}
.content-bx h3{
  font-size: 24px;
  margin-bottom: 10px;
}
.w50{
  min-width: 50%;
}
img{
  max-width: 100%;
}
.services{
  background: #111;
}
.heading.white{
  color: #fff;
}
.services .content{
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
}
.services .content .services-bx{
  padding: 40px 20px;
  background: #222;
  color: #fff;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
}
.services .content .services-bx:hover{
  background: #2196f3;
}
.services .content .services-bx img{
  max-width: 80px;
  filter: invert(1);
}
.services .content .services-bx h2{
  font-size: 20px;
  font-weight: 500;
}
.work .content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.work .content .work-bx{
  width: 50%;
  padding: 20px;
}
.work .content .work-bx img{
  max-width: 100%;
}
.testimonial{
  background: #f7f7f7;
}
.testimonial .content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.testimonial .content .testimonial-bx{
  max-width: calc(50% - 40px);
  padding: 60px 40px;
  margin: 20px;
  background: #2196f3;
}
.testimonial .content .testimonial-bx p{
  color: #fff;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
.testimonial .content .testimonial-bx h3{
  margin-top: 40px;
  text-align: end;
  color: #fff;
  font-weight: 600;
  font-size:20px;
  line-height: 1em;
}
.testimonial .content .testimonial-bx span{
  font-weight: 400;
  font-size:14px;
}
.contact{
  background-color: #111;
}
.form-bx{
  min-width: 60%;
}
.form-bx form{
  display: flex;
  flex-direction: column;
}
.form-bx form h3,
.contact-info h3{
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.form-bx input,
.form-bx textarea{
  margin-bottom: 20px;
  padding: 15px;
  font-size: 16px;
  background: transparent;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
}
.form-bx textarea{
  min-height: 200px;
}
.form-bx input::placeholder,
.form-bx textarea::placeholder{
  color: #999;
}
.form-bx input[type="submit"]{
  max-width: 100px;
  background-color: #2196f3;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.contact-info{
  min-width: 40%;
}
.contact-info-bx{
  position: relative;
}
.contact-info-bx .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.contact-info-bx .box .icon{
  min-width: 40px;
  padding-top: 4px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 24px;
}
.contact-info-bx .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}
.contact-info-bx .box .text h3{
  font-weight: 500px;
  color: #2196f3;
  margin-bottom: 0;
}
.copyright{
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}
/*Responsive*/
@media (max-width: 991px){
  header,
  header.sticky{
    padding: 20px 50px;
    z-index: 1000;
  }
  .menu{
    position: fixed;
    top: 75px;
    left: -100%;
    display: block;
    padding: 100px 50px;
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #fff;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0,0,0,0.2);
  }
  .menu.active{
    left: 0;
  }
  header ul li a{
    color: #111;
    font-size: 24px;
    margin: 10px;
  }
  .toggle{
    width: 40px;
    height: 40px;
    background: url('images/menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
  }
  .toggle.active{
    width: 40px;
    height: 40px;
    background: url('images/close.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
  header.sticky .toggle{
    filter: invert(1);
  }
  section{
    padding: 100px 50PX;
  }
  .banner{
    padding:  150px 50px 100px;
  }
  .banner h2{
    font-size: 1.5em;
  }
  .banner h3{
    font-size: 1em;
  }
  .btn{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2{
    font-weight: 600;
    font-size: 24px;
  }
  .content-bx h3{
    font-size: 20px;
  }
  .content{
    flex-direction: column;
  }
  .w50{
    min-width: 50%;
    margin-bottom: 20px;
  }
  .services .content .services-bx{
    margin: 10px;
  }
  .work .content .work-bx{
    width: 100%;
    padding: 10px;
  }
  .testimonial .content .testimonial-bx{
    max-width: calc(100% -20px);
    padding: 40px 20px;
    margin: 10px;
  }
  .testimonial .content .testimonial-bx h3{
    margin-top: 20px;
  }
  .contact-info{
    min-width: 40%;
    margin: 20px 0;
  }
}





